@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import "../css/demo1.css";
@import "../css/demo2.css";

$font-stack:    Helvetica, sans-serif;
$primary-color: #FDFDFD;

body {
    font: 100% $font-stack;
    background: $primary-color;
}
